/* General */
*{
    font-family: "Raleway", sans-serif;
    color: black; 
    box-sizing: border-box;
    max-width: 3000px;
    
}


body {
    overflow-anchor: auto;
}


a {text-decoration: none;}

main { 
    margin: 0px 50px;

}


/* Header */
 
header {
    display: flex;
    justify-content: space-between;
    
    height: 125px;
    

}

.logo img{
    width: 40%;
    position: relative;
    top: 40%;
    left: 15%;
}



nav {
    display: flex;
    
    }

nav ul {

    list-style-type: none;
    display: flex;
    align-items: center; 
    margin: 0;
    padding: 0;
    
}

nav li{
    padding: 0px 50px;
    
}

nav a {
    padding: 50px 20px 0px 20px;
}



section { margin: 50px 0px;}

/* Research */


.research-section {
    margin-top: 0;
}
.research-heading {  
                    display: flex;
                    flex-direction: column;
                    justify-content: center; }


.research-heading h1 {
    font-size: 150%;
}

.p1 { font-size: 110%;
    margin-top: auto;

  }


.form {
    margin-top: 20px;
    display: flex;
    
    align-items: center;
}
    

.research-img i{
    background-color: #f2f2f2;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    font-size: 112%;
    

    
}
.location {
    height: 50px;
    width: 50%;
    max-width: 250px;
    min-width: 175px;
    border: #f2f2f2 solid 1px;
    font-size: 112%;
    font-weight: bold;
    padding-left: 10px;
   
}
.research-button {
    visibility: visible;
    background-color: #0065FC ;
    border: #0065FC solid;
    border-radius: 0px 15px 15px 0px;
    color: white;
    width: 25%;
    max-width: 125px;
    height: 50px;
    font-weight: bold;
    font-size: 112%;
    cursor: pointer;
    
}

.research-loop {
    display: none;
}



/* Filtres */



.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    
   
}




.filters li {
        list-style-type: none;
}

.filters ul { display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            }

.i-filters { display: flex;
            flex-direction: row; 
            border: #DEEBFF solid 2px;
            border-radius: 50px;
            margin: 15px;
            
            }
.i-filters:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.i-filters-img i{
    height: 50px;
    width: 50px;
    border:#DEEBFF solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #DEEBFF;
    color: #0065FC;
    font-size: 125%
    ;

}   

.filter-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px;

}


.end-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
}   

.i-end-filters i {
    border:#f2f2f2 solid 2px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}   


/* Hébergements à Marseille */

.hebergements {
    display: flex;
   
       
}



.heb-1-main {
    border:#f2f2f2 solid ;
    background-color: #f2f2f2;
    border-radius: 25px;
    flex: 3;
    margin-right: 25px;
    
    

    
}

.heb-1-heading {
    padding: 40px 25px;
}

.heb-1-heading h2 {
    font-size: 150%;
    margin: 0; }

.heb-1-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.heb-1-cards {
    border: white solid ;
    border-radius: 20px;
    background-color: white;
    width: 250px;
    height: 200px;  
    box-shadow: #cec6c6 1px 1px 20px;
    margin: 0px 10px 30px 10px;
    
    
    
}

.heb-1-img {
    width: 100%;
    height: 115px; 
    border: white solid 1px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    
    
}

.heb-1-text {
    display: flex;
    flex-direction: column;
    padding: 5px 0px 0px 10px;
    
}

.heb-1-text h3 {
    margin: 0;
    padding-bottom: 5px ;
    font-size: 95%;    
    font-weight: 600;
}

.heb-1-text p {
    margin: 0;
    padding-bottom:  10px ; 
    font-size: 90%;   
    font-weight: 300;
}

.heb-1-text p strong {
    font-weight: 600;
}

.heb-1-stars ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 75%;
}

.blue-star i{
    color: #0065FC;
}

.grey-star i{
    color:#f2f2f2;
}

.afficher-plus  {
   font-weight: bold;
   font-size: 110%;
   display: flex;
   justify-content: flex-start;
    margin: 0px 0px 40px 50px;}

/* Les plus populaires */

.heb-2-main {
    flex: 1;
    border:#f2f2f2 solid ;
    background-color: #f2f2f2;
    padding: 25px 30px;
    border-radius: 25px;
    margin-left: 25px;
    
    
}

.heb-2-main h2 {
    font-size: 150%;
}



.heb-2-head-i {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}




.heb-2-i i{
    font-size: 150%;
}


.heb-2-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.heb-2-cards {
    border: white solid ;
    border-radius: 20px;
    background-color: white;
    margin: 10px 10px 20px 10px;
    padding-right: 30px;
    width: 350px;
    height: 140px;
    box-shadow: #cec6c6 1px 1px 20px;
    display: flex;
    flex-direction: row;
}

.heb-2-img {
    width: 125px;
    height: 135px; 
    border: white solid 1px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    margin-right: 10px;
}


.heb-2-card-content {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 5px;
    justify-content: space-between;
    
}


.heb-2-text h3{
    margin: 0;
    font-size: 100%;    
    font-weight: 600;
}


.heb-2-text p {
    font-size: 90%;   
    font-weight: 300;
    padding: 0;
}
.heb-2-text strong {
font-weight: 600;
}

.heb-2-stars ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 5px 0px;
    font-size: 75%;
    
}

/* Activités à Marseille */

/*Général */

.activite h2 {
    margin: 0;
}

.activite {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.activite-heading {
    margin: 15px 0px;
}

.activite-content {
    margin: 0px 0px 50px 0px;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    
    
}




.activite-1, .activite-2 ,  .activite-3 , .activite-4 {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0px 20px;
   
    
    
}



.activite-1, .activite-2a, .activite-2b, .activite-3, .activite-4a, .activite-4b {
    margin-bottom: 25px;
}
.activite-1-img, .activite-2a-img, .activite-2b-img, .activite-3-img, .activite-4a-img, .activite-4b-img {
    border-radius: 20px 20px 0px 0px;   
    width: 100%;
    object-fit: cover;
    margin: 0;
    display: flex;
    
       
}

 .activite-1 h3, .activite-2a h3, .activite-2b h3, .activite-3 h3, .activite-4a h3, .activite-4b h3 {
    
    height: 55px;
    font-size: 100%;
    padding: 0px 15px;
    border-radius: 0px 0px 20px 20px;
    border: white solid ;
    box-shadow: #cec6c6 1px 1px 20px;
    margin: 0;                
    display: flex;
    align-items:center;
}

 


.activite-1-img, .activite-3-img {
    height: 400px;
}

.activite-2a-img {
    height: 200px;
}

.activite-2b-img {
    height: 100px;

}

.activite-4a-img, .activite-4b-img{
    height: 145px;
}

/* Footer */

footer {
    background-color: #f2f2f2;
}
.footer {
    display: flex;
    flex-direction: row;
    padding: 30px;
    flex-wrap: wrap;
    
}

.footer-content {
    margin: 0px 200px 0px 50px;
    display: flex;
    flex-direction: column;
    width: 200px;
    
    
    
}


.footer-content ul{
    list-style-type: none;
    padding: 0;
    
}

.footer-content li {
    padding-bottom: 15px;
    cursor: pointer;
}

/* Media Queries */



@media screen and (min-width : 993px) { 
    nav a:hover {
        border-top: #0065FC solid;
       
        
    }
    
    
}

    

@media screen and (max-width : 1170px) {

    main {
        margin: 0;
    }
    

    .research-section {
        margin-left: 50px;
    }
 

    .hebergements {
        display: flex;
        flex-direction: column-reverse;

    }
   
    .heb-1-heading {
        padding: 40px 0px;
    }

    .heb-1-main {
        background-color: white;
        border: 0;
        border-radius: 0 ;
        margin: 0;
        padding: 0px 50px;
    }  

    .afficher-plus {
        margin: 0;
    }



    .heb-2-head-i {
        padding: 10px 50px;
    }
 
                                      
 
     .heb-2-main {
         
         padding: 0;
         margin: 0;
         width: 100%;
     }
    
 
 
     .heb-2-main {
         
         border-radius: 0;
     }
 
     .heb-2-content {
         display: flex;
         flex-flow: column wrap;
            
     }

    
    

     .activite {
        margin: 0px 25px;
    }

    .activite-content {
        justify-content: center;
        flex-direction: column;

    }

    .activite-1, .activite-2, .activite-3, .activite-4 {
        width: 75%;
        min-width: 300px;
    }
    .activite-1-img, .activite-2a-img, .activite-2b-img, .activite-3-img, .activite-4a-img, .activite-4b-img {
        height: 175px;
    }

   }
    



@media screen and (max-width : 992px) {



   

    .head-link-1 a {
        border-top: #0065FC solid;
    }


    .filters {
        flex-direction: column;
        align-items: baseline;
    }
    
    .filters-title {
        display: flex;
        justify-content: center;
        
    }
    
    .filters ul  {
        padding: 0;
        margin: 0;
    }
    
    .i-filters {
        margin: 0px 15px 15px 0px;
    }
    

   

}


@media screen and (max-width : 768px) {

header {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    
}


.logo {
    
    display: flex;
    justify-content: center;
    
}

.logo a {
    display: flex;
    justify-content: center;
}

.logo img {
    position: relative;
    top: 0%;
    left: 0%;
    width: 50%;
    
    
}

nav {
    
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    width: 100%;
}

nav li {
    padding: 0;
    width: 50%;
}

nav a {
    padding: 0;
    font-size: 125%;
    
    
}

.head-link-1 a {
    border-top : none;
}



.head-link-1 {
    border-bottom: #0065FC solid;
    
}

.head-link-2 {
    border-bottom: #cec6c6 solid;
}


.head-link-1, .head-link-2 {
    padding-bottom: 10px ;
    display: flex;
    justify-content: center;
    
    
  
}

.research-section {
    margin-left : 20px;
}

.research-button {
    display: none;
}

.research-loop, .research-loop i {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
.research-loop {
        width: 50px;
        height: 50px;
        position: relative;
        right: 10px;
        min-width: 50px;
        border: #0065FC solid;
        background-color: #0065FC;
        border-radius: 15px;
       
    }

.heb-1-content {
    flex-direction: column;
    
    
}

.heb-1-content article {
    margin-bottom: 30px;
}

.heb-1-cards {
   margin: 0;
   padding: 0;
    width: 80%;
    min-width: 300px
}

.footer-content {
    margin-right: 75px;
}

}