/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------------- GENERAL----------------------------------------- */



*{
    box-sizing: border-box;  
    color: black; 
    
}

body {
    font-family: "Raleway", sans-serif;
    
}




a {text-decoration: none;}

main { 
    margin: 0px 50px;

}


/* Header */
 
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 125px;
    

}


.logo-img-desk {
    width: 40%;
    position: relative;
    top: 40%;
    left: 20%;
    
}

.logo-img-mob {
    display: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    
    

    
    }

nav ul {

    list-style-type: none;
    display: flex;
    align-items: center; 
    margin: 0;
    padding: 0;
    
}

nav li{
    padding: 0px 50px;
    
}

nav a {
    padding: 50px 20px 0px 20px;
}



section { margin: 50px 0px;}

/* Section Research */


.research-section {
    margin-top: 15px;
}
.research-heading {  
                    display: flex;
                    flex-direction: column;
                    justify-content: center; }


.research-heading h1 {
    font-weight: bold;
    font-size: 150%;
}

.research-heading p {   
        font-size: 100%;
        padding-top: 10px;
    

  }


.form {
    margin-top: 20px;
    display: flex;
    
    align-items: center;
}
    

.research-img i{
    background-color: #f2f2f2;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    font-size: 112%;
    

    
}

.location {
    height: 50px;
    width: 50%;
    max-width: 250px;
    min-width: 175px;
    border: #f2f2f2 solid 1px;
    font-size: 112%;
    font-weight: bold;
    padding-left: 10px;
   
}
.research-button {
    visibility: visible;
    background-color: #0065FC ;
    border: #0065FC solid;
    border-radius: 0px 15px 15px 0px;
    color: white;
    width: 25%;
    max-width: 125px;
    height: 50px;
    font-weight: bold;
    font-size: 112%;
    cursor: pointer;
    
}

.research-loop {
    display: none;
}

/* Le bouton de recherche composé d'une icône sera configurée dans les media queries en dessous de 768px */

/* Partie Filtres */



.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    
   
}

.filters-title h3 {
    font-size: 100%;
    font-weight: bold;

}


.filters li {
        list-style-type: none;
}

.filters ul { display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            }

/* i-filters : filtres comprenant l'icône ainsi que le texte */


.i-filters { display: flex;
            flex-direction: row; 
            border: #DEEBFF solid 2px;
            border-radius: 50px;
            margin: 15px;
            
            }
.i-filters:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.i-filter-img i{
    height: 50px;
    width: 50px;
    border:#DEEBFF solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #DEEBFF;
    color: #0065FC;
    font-size: 125%
    ;

}   

.i-filter-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px;

}

/* Paragraphe de fin de la section Research */

.end-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
}   

/* Icône "information" */

.i-end-filters i {
    border:#f2f2f2 solid 2px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}   


/* Hébergements à Marseille */

.hebergements {
    display: flex;
   
       
}

/* heb-1 : partie gauche de la section Hébergements */

.heb-1-main {
    border:#f2f2f2 solid ;
    background-color: #f2f2f2;
    border-radius: 25px;
    flex: 3;
    margin-right: 25px;
    
    

    
}

.heb-1-heading {
    padding: 40px 25px;
}

.heb-1-heading h2 {
    font-size: 150%;
    font-weight: bold;
    margin: 0; }

.heb-1-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.heb-1-cards {
    border: white solid ;
    border-radius: 20px;
    background-color: white;
    width: 275px;
    height: 200px;  
    box-shadow: #cec6c6 1px 1px 20px;
    margin: 0px 10px 30px 10px;
    
    
    
    
}

.heb-1-img {
    width: 100%;
    height: 115px; 
    border: white solid 1px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    
    
}

.heb-1-text {
    display: flex;
    flex-direction: column;
    padding: 7px 0px 0px 10px;
    
}

.heb-1-text h3 {
    margin: 0;
    padding-bottom: 5px ;
    font-size: 95%;    
    font-weight: 600;
}

.heb-1-text p {
    margin: 0;
    padding: 5px 0px 10px 0px; 
    font-size: 90%;   
    font-weight: 300;
}

.heb-1-text p strong {
    font-weight: 600;
}

.heb-1-stars ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 75%;
}

.blue-star i{
    color: #0065FC;
}

.grey-star i{
    color:#f2f2f2;
}

.afficher-plus  {
   font-weight: bold;
   font-size: 110%;
   display: flex;
   justify-content: flex-start;
    margin: 0px 0px 40px 50px;}

/* Les plus populaires */

/* heb-2 : partie droite de la section Hébergements */

.heb-2-main {
    flex: 1;
    
    background-color: #f2f2f2;
    padding: 25px 30px;
    border-radius: 25px;
    margin-left: 25px;
    
    
}


.heb-2-head-i h2 {
    font-size: 150%;
    font-weight: bold;
}

/* Balise contenant le titre et l'icône */

.heb-2-head-i {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.heb-2-head-i h2 {
    padding: 20px 0px;
}


/* Balise contenant l'icône */

.heb-2-i i{
    font-size: 150%;
}


.heb-2-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 1;
    
}

.heb-2-cards {
    border: white solid ;
    border-radius: 20px;
    background-color: white;
    margin: 15px 5px;
    min-width: 350px;
    height: 140px;
    box-shadow: #cec6c6 1px 1px 20px;
    display: flex;
    flex-direction: row;
}

.heb-2-img {
    width: 125px;
    height: 135px; 
    border: white solid 1px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    margin-right: 10px;
}


.heb-2-card-content {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 5px;
    justify-content: space-between;
    
}


.heb-2-text h3{
    margin: 0;
    font-size: 100%;    
    font-weight: 600;
}


.heb-2-text p {
    font-size: 90%;   
    font-weight: 300;
    padding: 15px 0px;
}
.heb-2-text strong {
font-weight: 600;
}

.heb-2-stars ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 5px 0px;
    font-size: 75%;
    
}

/* Section Activités  */



.activite h2 {
    margin: 0;
    font-weight: bold;
    font-size: 150%;
}

.activite {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.activite-heading {
    margin: 15px 0px;
}

.activite-content {
    margin: 25px 0px 50px 0px;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    
    
}




.activite-1, .activite-2 ,  .activite-3 , .activite-4 {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0;
    padding: 0;
    
    
}

/* Les balises .activite-2 et .activite-4 contiennent chacunes deux activités (.activite-2a, 2b ... */

.activite-1, .activite-2a, .activite-2b, .activite-3, .activite-4a, .activite-4b {
    
    box-shadow: #cec6c6 1px 1px 20px;
    border-radius: 20px;
}

.activite-2a {
    margin-bottom: 20px;
}

.activite-2b {
    margin-top: 20px;
}

.activite-4a {
    margin-bottom: 25px;
}
.activite-4b {
    margin-top: 25px;
}

.activite-1-img, .activite-2a-img, .activite-2b-img, .activite-3-img, .activite-4a-img, .activite-4b-img {
    border-radius: 20px 20px 0px 0px;   
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Ajustement des images  */

.activite-1-img {
    object-position: 50% 25%;

}

.activite-4a-img {
    object-position: 50% 10%
}

.activite-4b-img {
    object-position: 50% 40%;
}

 .activite-1 h3, .activite-2a h3, .activite-2b h3, .activite-3 h3, .activite-4a h3, .activite-4b h3 {
    
    height: 55px;
    font-size: 100%;
    font-weight: bold;
    padding: 0px 15px;
    border-radius: 0px 0px 20px 20px;
    border: white solid ;
    
    margin: 0;                
    display: flex;
    align-items:center;
}

 


.activite-1-img, .activite-3-img {
    height: 400px;
}

.activite-2a-img {
    height: 200px;
}

.activite-2b-img {
    height: 100px;

}

.activite-4a-img, .activite-4b-img{
    height: 145px;
}

/* Footer */

footer {
    background-color: #f2f2f2;
}
.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 30px 0px;
    
    
}

.footer-heading h3 {
    font-weight: bold;
    font-size: 115%;
}

.footer-heading {
    margin: 25px 0px;
}
.footer-content {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    width: 200px;
    
    
    
}


.footer-content ul{
    list-style-type: none;
    padding: 0;
    
}

.footer-content li {
    padding-bottom: 15px;
    cursor: pointer;
}

/* Media Queries */



@media screen and (min-width : 993px) { 

    /* Permet l'effet au survol des deux éléments de l'entête de page uniquement en version desktop */

    nav a:hover {
        border-top: #0065FC solid;
       
        
    }
    
    
}

    
/* Toujours en version desktop ajusté pour les écrans plus petits */

@media screen and (max-width : 1180px) {

    main {
        margin: 0;
    }

/* Section research */

    .research-section {
        margin-left: 50px;
    }
 
/* Section hébergements */
    .hebergements {
        display: flex;
        flex-direction: column-reverse;

    }
   
    .heb-1-heading {
        padding: 40px 0px;
    }

    .heb-1-main {
        background-color: white;
        border: 0;
        border-radius: 0 ;
        margin: 0;
        padding: 0px 25px;
        
    }  

    .afficher-plus {
        margin: 0;
    }

    
    .heb-1-cards {
        margin: 15px;
        padding: 0;
         width: 50%;
         min-width: 300px
     }
    
    
    
    
    
                                      
 
    .heb-2-main {
         
         padding: 10px 25px;
         margin: 0;
         width: 100%;
         border-radius: 0;
     }
    
 
 
   
 
     .heb-2-content { 
        
         flex-flow: row wrap;
            
     }

    
/* Section Activités */

    .activite-heading {
        margin: 20px;
    }

    .activite-content {
        justify-content: space-around;
        align-items: flex-start;
        flex-flow: row wrap;

    }

    .activite-1, .activite-2, .activite-3, .activite-4 {
        width: 40%;
        min-width: 300px;
    }
    
    .activite-1, .activite-2 {
        margin-bottom: 40px;
    }
   
    
/* Conteneurs des titres des sections */

.heb-1-heading , .heb-2-head-i , .activite-heading {
    padding-left: 25px;
}

}


/* Version Tablette */


@media screen and (max-width : 992px) {


/* Header : lien "Hébergements" */
   

    .head-link-1 a {
        border-top: #0065FC solid;
    }

/* Section Research */

    .filters {
        flex-direction: column;
        align-items: baseline;
    }
    
    .filters-title {
        display: flex;
        justify-content: center;
        
    }
    
    .filters ul  {
        padding: 0;
        margin: 0;
    }
    
    .i-filters {
        margin: 0px 15px 15px 0px;
    }
    

   

}

/* Version mobile */

@media screen and (max-width : 768px) {

/* Header */

header {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    
}


.logo {
    
    display: flex;
    justify-content: center;
    
}

.logo a {
    display: flex;
    justify-content: center;
}

.logo-img-mob {
    display : block;
    width: 100%;
    position: relative;
    left: 12%;
    width: 75%;
}


.logo-img-desk {
    display: none;
}

nav {
    
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    width: 100%;
}

nav li {
    padding: 0;
    width: 50%;
}

nav a {
    padding: 0;
    font-size: 125%;
    
    
}

.head-link-1 a {
    border-top : none;
}



.head-link-1 {
    border-bottom: #0065FC solid;
    
}

.head-link-2 {
    border-bottom: #cec6c6 solid;
}


.head-link-1, .head-link-2 {
    padding-bottom: 10px ;
    display: flex;
    justify-content: center;
    
    
  
}

/* Section Research */

.research-section {
    margin-left : 20px;
}

.research-button {
    display: none;
}

.research-loop, .research-loop i {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        cursor: pointer;
    }
    
.research-loop {
        width: 50px;
        height: 50px;
        position: relative;
        right: 10px;
        min-width: 50px;
        border: #0065FC solid;
        background-color: #0065FC;
        border-radius: 15px;
       
    }

/* Section Hébergements */

.heb-1-heading {
    padding: 40px 0px 15px 0px;
}


/* Section Activités */

.activite-heading h2    {
    padding-left: 5px;
}

.activite-content {
    
    justify-content: center;
    align-items: center;
}

.activite-1, .activite-2, .activite-3, .activite-4 {
    width: 51%;
}

.activite-1-img, .activite-2a-img, .activite-2b-img, .activite-3-img, .activite-4a-img, .activite-4b-img {
    height: 200px;
}

.activite-3 {
    margin-bottom: 40px;
}

/* Conteneurs des titres des sections */

.heb-1-heading , .heb-2-head-i , .activite-heading {
    padding-left: 0;

}

/* Footer */

.footer {
    justify-content: flex-start;
}

}